<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="XSKTDB.Properties.Settings.XSKTConnectionString" connectionString="Data Source=DESKTOP-ET1GGIC\SQLEXPRESS;Initial Catalog=XSKT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>